---
import BaseLayout from "../layout/BaseLayout.astro";
import data from "../Data/data.";

interface Item {
  name: string;
  country: string;
  classification: string;
}
---

<BaseLayout>
  <h1>Institution Databases</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Classification</th>
      </tr>
    </thead>
    <tbody>
      {
        data.map((item: Item) => (
          <tr>
            <td>{item.name}</td>
            <td>{item.country}</td>
            <td>{item.classification}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</BaseLayout>
