---
import BaseLayout from "../layout/BaseLayout.astro";
import data from "../Data/data.";

interface Item {
  name: string;
  country: string;
  classification: string;
}
---

<BaseLayout>
  <main>
    <h1>Home</h1>
  </main>
</BaseLayout>
