---

---

<div class="search-container">
  <form class="search-form" action="/search" method="get">
    <input
      class="search-input"
      type="text"
      name="query"
      placeholder="Enter search term"
      required
    />
    <button class="search-button" type="submit">Search</button>
  </form>
</div>
